@model CandyShop.Models.ViewModels.CarListViewModel

<h2>Cars</h2>

@*@await Html.PartialAsync("CarsList")*@ 

<div class="form-group">
    <input type="text" id="searchText" class="form-control" />
    <button id="search" class="btn btn-primary">Search</button>
</div>

<div id="car-list">

</div>